/*HOJA DE ESTILOS DE LA VENTANA EMERGENTE (VENTANA QUE ALMACENA EL FORMULARIO DE REGISTRO)*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.container-all{
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
}

.container-all:target{
    background: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 1;
}

.container-all:target .popup{
    top: 0%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -100%);
    visibility: visible;
}

.popup{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    background: #d8d8d8;
    color: #000;
    display: flex;
    top: -80%;
    left: -80%;
    visibility: hidden;
    transform: rotate(90deg) translate(-150%, 230%);
    transition: all 600ms;
    border-radius: 20px;
}

.imgpop{
    width: 40%;
    background-image: url(../Images/popPup\ img.jpg);
    background-size: cover;
    background-position: center;
}

.container-text{
    width: 60%;
    padding: 50px;
    overflow-y: auto;
}


.btn-close-popup{
    width: 50px;
    height: 50px;
    position: absolute;
    font-size: 20px;
    right: -20px;
    top: -20px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 10px;
    padding: 20px;
    text-decoration: none;
}

.btn-close-popup:hover{
    background: rgb(199, 16, 16);
}

.buttons{
    margin-left: 70px;
}

.toogle-btn{
    color: #fff;
    background: #616b72;
    padding: 10px 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    position: relative;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    border-radius: 30px;
    transition: .5s;
}

.toogle-btn:hover{
    background: #13121e;
}
