
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to you WebApp</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/layouts/header.css" type="text/css">
    <link rel="stylesheet" href="css/homePage.css" type="text/css">
    <script src="https://kit.fontawesome.com/edb0f779f5.js" crossorigin="anonymous"></script>
  </head>
<body>
  
<!--Barra de navegación-->
 <nav class="navBar">
    <a href="#" class="nav-logo">MY FINANCE$</a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li class="li-items"><a id="log" href="/profile"><i class="fas fa-cog"></i></a></li>
        <li><a href="/" id="btnlogout">Cerrar sesion</a></li>
      </ul>
  </nav>
<!--Contenido pagina-->
  <div class="contentProfile">
  </div>
  </body>
</html>
