<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/index.css"  type="text/css"> 
   <link rel="stylesheet" href="css/layouts/Popup.css" type="text/css">
   <link rel="stylesheet" href="css/layouts/styleInputs.css" type="text/css">
   <link rel="stylesheet" href="css/layouts/header.css" type="text/css">
   <title>MY FINANCE$</title>
 </head>
<body>

<!--Barra de navegación.-->
    <nav class="navBar">
        <a href="#" class="nav-logo">MY FINANCE$</a>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a id="btnlogin" href="/login">Login</a></li>
        </ul>
    </nav>
<!--Contenido de la pagina lading-->
    <main>
        <div class="content">
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sequi nisi placeat accusamus harum necessitatibus libero aliquam voluptatem impedit, incidunt, eum alias distinctio reprehenderit sed. Perspiciatis ex dicta distinctio assumenda?</p>
            <a href="#modal" class="btns">Registrate</a>
            <a href="" class="btns">Learn More</a>
        </div>
        <div class="imglobby">
            <img src="/img/lobby.png" alt="lobby image">
        </div>
    </main>
<!-- Ventana emergente. -->
    <div class="container-all" id="modal">
        <div class="popup">
            <div class="imgpop"></div>
                <div class="container-text">
                <div class="buttons">
                    <h6>Restrigar usuario</h6>
                </div>
                <!-- FORMULARIO DE REGISTRO-->
                <form action="" method="post">
                <input type="email" name="email" placeholder="Gmail" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <input type="password" name="confirm_password" placeholder="Confirma contraseña" required>
                <input type="text" name="name" placeholder="Nombre" required>
                <input type="text" name="last_name" placeholder="Apellido" required>
                <input type="submit" value="Send">
                </form>
            </div>
            <!--Boton de cerrar ventana emergente-->
            <a href="#" class="btn-close-popup">x</a>
        </div>
    </div>
    

</body>
</html>