body {
    margin: 0;
    padding: 0;
    background: url(/Images/bg3.jpg) no-repeat center top;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
  }
  
  .newUser-box {
    width: 320px;
    height: 730px;
    background: rgba(0, 0, 0, 0.5 );
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -47.5%);
    box-sizing: border-box;
    padding: 70px 30px;
  }

  .newUser-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }

  .newUser-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 24px;
  }
  
  .newUser-box label {
    margin: 0;
    padding: 0;
    display: block;
  }
  
  .newUser-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .newUser-box input[type="text"], .newUser-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: rgb(255, 255, 255);
    font-size: 15px;
  }
  
  .newUser-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: rgb(185, 15, 35);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .newUser-box input[type="submit"]:hover {
    cursor: pointer;
    background: rgba(185, 15, 35, 0.5 );
    color: rgb(255, 255, 255);
  }
  .newUser-box select{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    margin-bottom: 20px;
    color: rgb(199, 199, 199);
    font-size: 15px;
  }

  